@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

// wymiary

$sizeX0: 1rem;
$sizeX1: 1rem * 2.75; // 44
$sizeX2: 1rem * 1.875; // 30
$sizeX3: 1rem * 3.25; // 52

// nowe paddingi

$spacers: map-merge(
    $spacers,
    (
        x1: $sizeX1,
        x2: $sizeX2,
        x3: $sizeX3
    )
);

$grid-breakpoints: map-merge(
    $grid-breakpoints,
    (
        l: 1110px
    )
);

// kolory

$mainColor1: #9d0a0f;
$mainColor2: #8d090e;
$mainColor3: #5e0609;

$body-bg: $mainColor1;      // $white;
$body-color: $white;        // $gray-900;
$link-color: $white;        // theme-color("primary");
$link-decoration: none;
$link-hover-color: darken($link-color, 5%);
$link-hover-decoration: underline;

@import "import";

$breakpoints: $grid-breakpoints;
@mixin respond-above($breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
        @content;
    }
}
@mixin respond-below($breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: ($breakpoint-value - 1)) {
        @content;
    }
}

html, body {
    margin: 0;
    padding: 0;
    font-family: "Gotham";
    width: 100%;
    height: 100%;
}

// dev
// html {
//     background-color: black;
//     body {
//         max-width: 1716px;

//         .img-dev {
//             position:absolute;
//             top:0;
//             left:0;
//             opacity:0.7;
//         }

//         &:hover .img-dev {
//             z-index: -1;
//         }
//     }
// }

a, .btn-link {
    &:hover {
        text-shadow: 0 0 1px #000000;
    }
}

// górna belka

div.header {
    position: relative;
    z-index: 3;

    .logo {
        left: -$sizeX1;
        margin: 0 (-$sizeX1);
        letter-spacing: 0.09375rem;
        height: $sizeX1;
        display: flex;
        align-items: center;

        span {
            padding: 0 ($sizeX1 * 0.95);
        }

        &:hover {
            text-decoration: none;
            text-shadow: 0 1px 2px darken($mainColor3, 50%);
        }
    }

    // menu

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > ul {
            margin: 0 (-$sizeX2);
            align-items: start;
            justify-content: left;

            li {
                margin: 0;
                display: flex;
                align-items: center;

                a::after {
                    content: ' ';
                    height: 0.125rem;
                    width: 0%;
                    background-color: $white;
                    display: block;
                    transition: width .3s ease;
                }
                &:hover {
                    a::after {
                        width: 100%;
                    }
                }
            }
        }

        & > ul + ul {
            margin-left: $sizeX2;
        }

        a {
            padding: 0.125rem ($sizeX2 / 0.9615);
            color: $white;
            font-weight: 500;
            font-size: 0.78rem;
            letter-spacing: 0.03125rem;
            line-height: 1.375rem;
            text-transform: uppercase;
            &:hover {
                text-decoration: none;
            }
        }
    }

    & > ul.language-change {

    }
}

// nagłówek mapa

#headerContainer {
    position: static;
    min-height: 12rem;
}

#mainHeader {
    display: flex;
    align-items: center;
    transition: opacity 0.2s ease;

    & > * {
        position: relative;
        z-index: 2;
    }

    h1 {
        margin: 21px -9px 0; // TODO
        font-size: 5.625rem;
        font-weight: 500;
        line-height: 6rem;
        letter-spacing: -0.0625rem;
    }

    &.hide {
        opacity: 0;
    }
}

// mniejszy font na małej szerokości
@include respond-below("md") {
    #headerContainer {
        position: relative;
    }
    #mainHeader h1 {
        font-size: 5rem;
        line-height: 5.5rem;
        letter-spacing: -0.125rem;
    }
}

body > * {
    position: relative;
    z-index: 2;
}

#mapNav {
    ul {
        margin: -0.5rem 0;
    }

    li {
        padding: 0.0615rem;
        margin-bottom: 0.125rem;

        & > .btn.btn-link {
            padding: 0;
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 1.5;
            text-align: left;
        }
    }

    &:hover {
        li > .btn.btn-link {
            color: $mainColor3;

            &:hover {
                color: $white;
                text-decoration: none;
            }
        }
    }
}

// text

.home-article {
    border: solid 3px $white;

    h4 {
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 1.45rem;
        letter-spacing: 0.01875rem;
    }

    p {
        line-height: 1.89;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

// mapa

#mapArea {
    position: absolute;
    top: 0; left: 0;
    padding-top: 2 * $sizeX1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;

    & > div {
        position: relative;
        max-width: 100%;
        max-height: 100%;
        transition: top 0.2s ease;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .map-item {
        position: absolute;
        opacity: 0;

        & > div {
            position: absolute;
            top: -0.04rem;
            right: 1.2rem;
            width: 12rem;
        }

        .name {
            position: absolute;
            bottom: 0.6rem;
            font-size: 1.25rem;
            font-weight: 500;
            line-height: 2.25rem;
            opacity: 0;
            transition: opacity 0.2s ease 0.2s;
        }
        .separator {
            position: relative;
            width: 0%;
            border: solid 0.06rem $white;
            opacity: 0;
            transition: width 0.2s ease 0.2s, opacity 0.1s ease 0.2s;
        }
        .location {
            position: absolute;
            top: 0.6rem;
            font-size: 1rem;
            line-height: 2.25rem;
            opacity: 0;
            transition: opacity 0.2s ease 0.2s;
        }

        // z prawej strony
        &[data-label-position="right"] {
            text-align: right;

            & > div {
                right: auto;
                left: 1.2rem;
            }

            .name, .separator, .location {
                right: 0;
            }
        }

        // kropka
        &::after {
            content: ' ';
            position: absolute;
            left: -0.25rem;
            top: -0.25rem;
            width: 0.5rem;
            height: 0.5rem;
            border-radius: 1rem;
            background-color: $white;
            display: block;
        }

        &.show {
            opacity: 1;

            .name, .location {
                opacity: 1;
            }
            .separator {
                opacity: 1;
                width: 100%;
            }
        }
    }
}

@include respond-below("md") {
    #mapArea {
        padding-top: 0;
        height: auto;
        min-height: 100%;
        max-height: none;
        display: flex;
        align-items: start;
        overflow: hidden;

        & > div {
            min-width: 300%;

            img {
                max-height: none;
            }
        }
    }
}