@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: normal;
    src: local('Gotham Book'), url('GothamBook.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Book Italic';
    font-style: italic;
    font-weight: normal;
    src: local('Gotham Book Italic'), url('GothamBookItalic.woff') format('woff');
}
@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: bold;
    src: local('Gotham Bold'), url('GothamBold.woff') format('woff');
}
@font-face {
    font-family: 'Gotham Bold Italic';
    font-style: italic;
    font-weight: bold;
    src: local('Gotham Bold Italic'), url('GothamBoldItalic.woff') format('woff');
}
@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    src: local('Gotham Medium'), url('GothamMedium.woff') format('woff');
}
@font-face {
    font-family: 'Gotham';
    font-style: italic;
    font-weight: 500;
    src: local('Gotham Medium Italic'), url('GothamMediumItalic.woff') format('woff');
}